<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Happy New Year</title>
</head>
<body>
    <div class="wish1">
        <h1 id="greeting">Happy New Year</h1>
    </div>
    <div class="wish2">
        <h3 id="friendGreeting">Dear {{ friend_name }}</h3>
        <p id="detailedMessage">{{message}}</p>
        <p id=""salutation">Your Friend</p>
        <p id="sender">Sarath</p>
    </div>
    <footer>
        <p>&copy; 2024 Sarath Rajan S. All rights reserved. | Image by <a href="https://www.freepik.com/free-photo/new-year-celebration-with-confetti-ornaments_34136064.htm#query=happy%20new%20year&position=49&from_view=search&track=ais&uuid=26013c46-f8ab-4bbf-a95d-c0db09fc1166">Freepik</a></p>
    </footer>
</body>
</html>
